body {
  margin: 0;
  padding: 0;
  background-color: white; }

/*NAVIGATION*/
nav {
  background-color: black; }
  nav a {
    color: white; }

.nav-estilo {
  height: 100vh; }
  .nav-estilo a {
    font-size: 3.5em;
    font-family: "Pavanam", sans-serif;
    line-height: 1.8em;
    letter-spacing: 5px; }

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

header a {
  font-family: "Oswald", sans-serif; }

header a:hover {
  color: white; }

header img {
  margin-right: 0.4em;
  margin-bottom: 0.2em;
  border-radius: 50%; }

/*INDEX*/
.body-index {
  background-color: white; }
  .body-index .box_index {
    padding-top: 100px; }
    .body-index .box_index h1 {
      font-family: "Oswald", sans-serif;
      font-size: 1.5em;
      color: black;
      background-color: whitesmoke;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      border-bottom: 1px solid black; }
    .body-index .box_index img {
      height: 400px;
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid black; }
    .body-index .box_index .iframe_videos-sound {
      width: 100%;
      height: 205px;
      border: 1px solid black; }
  .body-index .bloque_index {
    padding-top: 10px;
    padding-bottom: 10px; }
    .body-index .bloque_index h2 {
      font-family: "Oswald", sans-serif;
      font-size: 1.5em;
      color: black;
      background-color: whitesmoke;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      border-bottom: 1px solid black; }
    .body-index .bloque_index .car_style-body a:hover {
      text-decoration: none; }
    .body-index .bloque_index .car_style-body h5 {
      color: black;
      font-family: "Pavanam", sans-serif;
      font-weight: bold;
      font-size: 1em;
      padding-bottom: 13px; }
    .body-index .bloque_index .car_style-body p {
      color: black;
      font-size: 15px; }
    .body-index .bloque_index .car_style-body .car_style-footer {
      background-color: black; }
  .body-index .carrousel-box {
    margin-top: 50px;
    margin-bottom: 80px; }
    .body-index .carrousel-box h2 {
      font-family: "Oswald", sans-serif;
      font-size: 1.5em;
      color: black;
      background-color: whitesmoke;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      border-bottom: 1px solid black;
      margin-bottom: 30px; }
  .body-index .img_carrusel-borde {
    border: 1px solid black; }
  .body-index .btn_index {
    margin-top: 30px;
    margin-bottom: 80px; }

.titulo_principal {
  font-family: "Oswald", sans-serif;
  font-size: 400%;
  margin-top: 100px;
  padding-bottom: 0.8em;
  letter-spacing: 5px;
  text-align: center;
  color: "Oswald", sans-serif; }

/*ABOUT US */
.bloque_aboutus {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px; }
  .bloque_aboutus img {
    border-radius: 100%;
    border: 1px solid black; }
  .bloque_aboutus p {
    font-family: "Pavanam", sans-serif;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px; }
    .bloque_aboutus p a:hover {
      text-decoration: none; }

.iframe-videos {
  width: 530px;
  height: 220px;
  border: 1px solid black; }

/*ARTISTS*/
.bloque_artista {
  margin-bottom: 30px; }

.artista {
  margin-bottom: 80px; }
  .artista h2 {
    padding-top: 1em;
    font-family: "Pavanam", sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: black;
    letter-spacing: 2px; }
  .artista a {
    text-decoration: none; }
    .artista a i {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.2em; }
  .artista p {
    font-size: 1.1em; }
  .artista img {
    width: 80%;
    height: 20em;
    border: 1px solid black; }

/*RELEASES*/
.bloque {
  margin-bottom: 20px; }
  .bloque h2 {
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: bold; }
  .bloque p {
    font-size: 0.9em; }

.card-body a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.8em;
  color: gray; }

.card-body a:hover {
  text-decoration: none;
  color: black; }

.bloque-card {
  margin-bottom: 20px;
  align-items: center; }

.bloque_card-modelo {
  width: 100%; }
  .bloque_card-modelo img {
    border-bottom: 1px solid black; }

.link {
  padding-top: 40px;
  font-size: 1.2em; }

/*CONTACT*/
.bloque_contact h2 {
  font-family: "Pavanam", sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: bold; }

.bloque_contact p {
  font-family: "Pavanam", sans-serif;
  font-size: 1.2em; }

.bloque_info {
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px; }
  .bloque_info h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
    font-weight: bold; }
  .bloque_info p {
    font-family: "Pavanam", sans-serif;
    font-size: 1.2em; }

.titulo_form {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  padding-top: 60px; }

.mapa_contact {
  width: 400px;
  height: 400px; }

.redes_contact {
  padding-top: 35px; }
  .redes_contact a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.4em; }

/*LOGICA CON SCSS  */
.color-face {
  color: #3b5998; }

.color-insta {
  color: #8134AF; }

.color-twitter {
  color: #00acee; }

.color-sound {
  color: #ff7700; }

.color-mix {
  color: #273a4b; }

.color-spoty {
  color: #81b71a; }

/*FOOTER*/
.footer {
  margin-top: 8em;
  background-color: black;
  padding-top: 0.8em; }
  .footer p {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 0.8em; }

/*MODAL*/
.modal-header {
  background-color: black; }
  .modal-header h5 {
    font-family: "Pavanam", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white; }

.modal-content p {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  padding: 10px; }

.modal-content img {
  width: 100%;
  height: 17.5em;
  border: 1px solid black; }

.modal-footer a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.4em; }

.close {
  color: #fff;
  opacity: 1; }

.close:hover {
  color: white; }

/*SALTOS*/
@media (max-width: 425px) {
  .body-index .box_index img {
    height: 300px; }
  .titulo_principal {
    font-size: 200%; }
  /*NAVIGATION*/
  .nav-estilo {
    padding-top: 40px; }
    .nav-estilo a {
      font-size: 2.5em;
      line-height: 1.3em; }
  /*ABOUT US*/
  .bloque_aboutus img {
    height: 9em; }
  .bloque_aboutus p {
    font-size: 0.9em; }
  .iframe-videos {
    width: 250px;
    height: 130px; }
  /*ARTISTS*/
  .artista img {
    height: 9em;
    width: 100%; }
  .artista h2 {
    font-size: 1em; }
  /*CONTACT*/
  .redes_contact a {
    font-size: 1em; }
  .bloque_contact h2 {
    font-size: 1.5em; }
  .bloque_contact p {
    font-size: 0.8em; }
  .bloque_info p {
    font-size: 0.8em; }
  .mapa_contact {
    width: 250px;
    height: 250px; }
  .titulo_form {
    font-size: 1.8em; }
  /*RELEASES*/
  .card-body a {
    color: black; }
  /*MODAL */
  .modal-content p {
    font-size: 0.6em; }
  .modal-content img {
    width: 100%;
    height: 9em; } }

@media (min-width: 425px) and (max-width: 768px) {
  .body-index .box_principal {
    padding-bottom: 50px; }
    .body-index .box_principal h1 {
      font-size: 2.5em; }
    .body-index .box_principal p {
      color: white; }
    .body-index .box_principal img {
      width: 150px; }
  .body-index .btn_index {
    font-size: 15px; }
  .car_style-body p {
    color: black;
    font-size: 15px; } }

@media (min-width: 0px) and (max-width: 768px) {
  /*NAVIGATION*/
  .nav-estilo {
    padding-top: 40px; }
    .nav-estilo a {
      font-size: 2.5em;
      line-height: 1.3em; } }

@media (min-width: 768px) and (max-width: 1024px) {
  /*ABOUT US*/
  .iframe-videos {
    width: 300px;
    height: 170px; }
  /*RELEASES*/
  .card-body a {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.6em;
    color: black; }
  .artista img {
    height: 15em;
    border: 1px solid black; } }

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible; } }

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: 0%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible; } }

@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0; }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none; }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0); }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none; }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0); }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none; }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible; }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }
