$color_principal:black;
$color_secundario:white;
$color_fondo:whitesmoke;
$font_principal:'Oswald', sans-serif;
$font_secundario:'Pavanam', sans-serif;
$borde_imagen:1px solid black;
$font_weigth:bold;


body {
    margin:0;
    padding:0;
    background-color:$color_secundario;
  }
  

/*NAVIGATION*/
  nav{
    background-color:$color_principal;
     a{
        color:$color_secundario;
    }
}
.nav-estilo{
    height: 100vh;
    a{
        font-size: 3.5em;
        font-family:$font_secundario;
        line-height: 1.8em;
        letter-spacing: 5px;
    }
}
.navbar-toggler {
    .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
}
header{
    a{
        font-family:$font_principal;
    }
    a:hover{
        color:$color_secundario;
    }
    img{
        margin-right:0.4em ;
        margin-bottom: 0.2em;
        border-radius: 50%;
    }
   
}
/*INDEX*/
.body-index{
    background-color:$color_secundario;
    .box_index{
        padding-top: 100px;
        h1{
            font-family: $font_principal;
            font-size:1.5em;
            color:$color_principal;
            background-color:whitesmoke;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:5px;
            border-bottom: 1px solid $color_principal;
        }
        img{
            height: 400px;
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid $color_principal;
        }
    }

    .bloque_index{
        padding-top: 10px;
        padding-bottom:10px;
        h2{
            font-family: $font_principal;
            font-size:1.5em;
            color:$color_principal;
            background-color:red;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:5px;
            border-bottom: 1px solid $color_principal;
        }
        .car_style-body{
            border:1px solid $color_principal;
            a:hover{
                text-decoration: none;
                
            }
            h5{
                color:$color_principal;
                font-family: $font_secundario;
                font-weight:$font_weigth;
                font-size: 1em;
                padding-bottom: 13px;
            }
            p{
                color:$color_principal;
                font-size:15px;
            }
            .car_style-footer{
                background-color:$color_principal;
            }
        img{
            border-bottom: 1px solid $color_principal;
        }
        }
     
    }
    .carrousel-box{
        margin-top: 50px;
        margin-bottom: 80px;
        h2{
            font-family: $font_principal;
            font-size:1.5em;
            color:$color_principal;
            background-color:whitesmoke;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:5px;
            border-bottom: 1px solid $color_principal;
            margin-bottom: 30px;
        }
    }
    .img_carrusel-borde{
        border:1px solid $color_principal;
    }
    .btn_index{
        margin-top:30px;
        margin-bottom: 80px;
    }


}


.titulo_principal{
    font-family:$font_principal;
    font-size: 400%;
    margin-top: 100px;
    padding-bottom:0.8em ;
    letter-spacing: 5px;
    text-align: center;
    color:$font_principal;
}
/*ABOUT US */

.bloque_aboutus{
    padding-top:10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    img{
        border-radius: 100%;
        border:1px solid black;
    }
    p{
        font-family: $font_secundario;
        font-size: 1.3em;
        padding-top: 10px;
        padding-bottom: 10px;
        a:hover{
            text-decoration: none;
        }
    }

}.iframe-videos{
    width:530px; 
    height:220px;
    border:1px solid black;
}


/*ARTISTS*/
.bloque_artista{
    margin-bottom: 30px;
}
.artista{
    margin-bottom:80px;
    h2{
        padding-top: 1em;
        font-family:$font_secundario;
        text-align: center;
        font-size: 1.5em;
        color:$color_principal;
        letter-spacing: 2px;
    }

    a{
        text-decoration:none;
    i{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.2em;
    }
    }
    p{

        font-size: 1.1em;
    }
    img{
        width: 80%;
        height: 20em;
        border:$borde_imagen;
    }
}

/*RELEASES*/

.bloque{
    margin-bottom: 20px;
    h2{
        font-size: 1em;
        font-family: $font_principal;
        font-weight:$font_weigth;
    }
    p{
        font-size: 0.9em;
    }
}

.card-body{

    a{
        margin-left: 5px;
        margin-right: 5px;
        font-size:0.8em;
        color:gray;
    }
    a:hover{
        text-decoration: none;
        color:$color_principal;
    }


}
.bloque-card{
    margin-bottom: 20px;
    align-items: center;
}

.bloque_card-modelo{
    width: 100%;
    border: 1px solid $color_principal;
    img{
        border-bottom: 1px solid $color_principal;
    }
}
.link{
    padding-top: 40px;
    font-size: 1.2em;
}
/*CONTACT*/
.bloque_contact{
    h2{
        font-family: $font_secundario;
        font-size: 2em;
    letter-spacing: 5px;
    font-weight: $font_weigth;
    }
    p{
        font-family: $font_secundario;
        font-size: 1.2em;
}
}
.bloque_info{
    background-color: $color_fondo;
    padding-top: 40px;
    padding-bottom: 40px;
    h3{
        font-family:$font_principal;
        font-size: 1.2em;
    font-weight: $font_weigth;
    }
    p{
        font-family: $font_secundario;
        font-size: 1.2em;
}
}
.titulo_form{
    font-family:$font_principal;
        font-size: 2.5em;
        padding-top: 60px;
}
.mapa_contact{
    width: 400px;
    height: 400px;
}

.redes_contact{
    padding-top: 35px;
    a{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 1.4em;
    }
}
/*LOGICA CON SCSS  */
$lista-colores: (
    /* $key : $val */
    face: #3b5998,
    insta:  #8134AF,
    twitter:  #00acee,
    sound: #ff7700,
    mix: #273a4b,
    spoty:#81b71a

);
@each $nombre-color, $color in $lista-colores {
    .color-#{$nombre-color} {
        color: $color;
    }
}

/*FOOTER*/
.footer{
    margin-top: 8em;
    background-color:$color_principal;
    padding-top: 0.8em;
    p{
        color:$color_secundario;
        font-family:$font_principal; 
        font-size: 0.8em;
    }
}
/*MODAL*/

.modal-header{
        background-color: $color_principal;
    h5{ 
    font-family:$font_secundario;
font-weight:$font_weigth;
letter-spacing: 2px;
color:$color_secundario;
}
}

.modal-content{
    p{
    
        font-family:$font_principal; 
        font-size:1em;
        padding:10px;
    }
    img{
        width: 100%;
        height: 17.5em;
        border:$borde_imagen;
    }
}
.modal-footer{
a{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.4em;
}
}

.close{
     color: #fff; 
    opacity: 1;
    
}
.close:hover{
    color: $color_secundario;
}
/*SALTOS*/
@media (max-width: 425px){
    .body-index{
        .box_index{
            img{
                height: 300px;
            }
        }
    }



.titulo_principal{
    font-size: 200%;
}
   
    /*NAVIGATION*/
    .nav-estilo{
        padding-top: 40px;
        a{
            font-size: 2.5em;
            line-height: 1.3em;
        }
    }
   

   
/*ABOUT US*/
.bloque_aboutus{
    img{
        height:9em;
    }
    p{
        font-size: 0.9em;
    }
}
.iframe-videos{
    width: 250px;
    height: 130px;
}
/*ARTISTS*/
    .artista{
      img{
        height: 9em;
        width: 100%;
    }
    h2{
        
        font-size: 1em;
    }
 
    }
/*CONTACT*/

.redes_contact{
    a{
        font-size: 1em;
    }
}
.bloque_contact{
    h2{
        font-size: 1.5em;
    }
    p{
        font-size:0.8em;
}
}
.bloque_info{
    p{
        font-size:0.8em;
}
}
.mapa_contact{
    width: 250px;
    height: 250px;
}
.titulo_form{
    font-size: 1.8em;
}
/*RELEASES*/
.card-body{

    a{
        color:$color_principal;
    }
}
/*MODAL */
.modal-content{
    p{
        font-size:0.6em;
    }
    img{
        width: 100%;
        height:9em;
    }
}


}
@media (min-width: 425px) and (max-width:768px){
    .body-index{
        .box_principal{
            padding-bottom: 50px;
            h1{
                
                font-size: 2.5em;
            }
            p{
                color:$color_secundario;
            }
            img{
                width: 150px;
            }
        }
        .btn_index{
            font-size:15px;
            
        }
    }
    .car_style-body{
        p{
            color:$color_principal;
            font-size:15px;
        }
    }

}
@media (min-width: 0px) and (max-width:768px){
/*NAVIGATION*/
.nav-estilo{
    padding-top: 40px;
    a{
        font-size: 2.5em;
        line-height: 1.3em;
    }
}
}

@media (min-width: 768px) and (max-width:1024px){
    
    /*ABOUT US*/
    .iframe-videos{
        width:300px; 
        height:170px;
    }
    /*RELEASES*/
    .card-body{
        a{
            margin-left: 8px;
            margin-right: 8px;
            font-size:0.6em;
            color:$color_principal;
        }
}
.artista{
   
    img{
        height: 15em;
        border:$borde_imagen;
    }
}
}




/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: 0%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
